<div class="container">
  <div class="card">
    <form action="/" method="post">
      <h2>Iniciar sesión</h2>
      <% errors.forEach(error=> { %>
        <p class="error"><%= error.msg %></p>
      <% }); %>
      <input type="text" name="usuario" id="usuario" placeholder="Usuario">
      <input type="password" name="password" id="password" placeholder="Contraseña">
      <input type="submit" value="Iniciar sesión">
    </form>
  </div>
</div>